<ion-content>
  
  <ion-progress-bar *ngIf="isSenting" type="indeterminate"></ion-progress-bar>  

    <ion-grid>
      <ion-row>
        <ion-col size-md="3">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Formulaire d'inscription</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
                <ion-list>
                  <ion-item>
                    <ion-label position="stacked">Nom d'utilisateur</ion-label>
                    <ion-input 
                      type="text" 
                      name="username" 
                      ngModel 
                      placeholder="Ex: Mustapha35"
                      maxlength="30"
                      pattern="[a-zA-Z0-9]*"
                      required
                    ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Mot de passe</ion-label>
                    <ion-input 
                      type="password" 
                      name="password" 
                      ngModel 
                      placeholder="Entrer votre mot de passe"
                      required
                      maxlength="50"
                      required
                    ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Role</ion-label>
                    <ion-select 
                      name="role" 
                      ngModel 
                      placeholder="Entrer votre role"
                      maxlength="2"
                      required 
                    > 
                      <ion-select-option value="nr">Client</ion-select-option>
                      <ion-select-option value="as">Personne de l'AUS</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item *ngIf="registrationForm.value.role == 'as'">
                    <ion-label position="stacked">Clé de votre agence urbaine</ion-label>
                    <ion-input 
                      type="password" 
                      name="agencyKey" 
                      ngModel
                      maxlength="50"
                      required
                    ></ion-input>
                  </ion-item>
                </ion-list>
                <div>
                  <ion-button 
                    [disabled]="!registrationForm.valid"
                    type="submit" 
                    expand="full" 
                    shape="round"
                  >S'inscrire</ion-button>
                </div>
              </form>
            </ion-card-content>
            <p>
              Retourner vers la page d'authentification ? <a routerLink="/login">Retour</a>. 
            </p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
