<ion-header>
  <ion-toolbar>
    <ion-title>Liste des demandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-segment #segment value="r">
          <ion-segment-button value="p">
            <ion-spinner name="lines"></ion-spinner>
            En attente
          </ion-segment-button>
          <ion-segment-button value="v">
            Valide
            <ion-icon name="shield-checkmark-sharp"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="r">
            Rejetée
            <ion-icon name="close-circle-sharp"></ion-icon>
          </ion-segment-button>
        </ion-segment>


      
        <!-- Liste des demandes en cours de traitement -->
        <ion-list>

          <ng-container *ngFor="let request of requestInformationNotes">

            <ion-card *ngIf="request.state == segment.value" 
              [routerLink]="['verification', request.id]" [queryParams]="{state: request.state}"
              color="primary">
              <ion-card-content >
                <ion-item color="primary">
                  <ion-label>Numéro de la demande</ion-label>
                  <ion-text>{{ request.id }}</ion-text>
                </ion-item>
    
                <ion-item color="primary">
                  <ion-label>Date d'envoi</ion-label>
                  <ion-text>{{ request.sendingDate }}</ion-text>
                </ion-item>
              </ion-card-content>
            </ion-card>
            

            <!-- <ion-card >
              <ion-card-header>
                <ion-card-title>Numero de la demande {{ request.id }}</ion-card-title>
                <ion-card-subtitle>Date d'envoi {{ request.sendingDate }}</ion-card-subtitle>
              </ion-card-header>
              
              <!-- <ion-card-content>
                <ion-item-divider color="primary">
                  <ion-label>Identité du demandeur</ion-label>
                </ion-item-divider>
                <ion-list>
                  <ion-item>
                    <ion-label position="stacked">Nom</ion-label>
                    <ion-text>{{ request.requesterInformationNote.lastName }}</ion-text>
                  </ion-item>
        
                  <ion-item>
                    <ion-label position="stacked">Prénom</ion-label>
                    <ion-text>{{ request.requesterInformationNote.firstName }}</ion-text>
                  </ion-item>
        
                  <ion-item>
                    <ion-label position="stacked">Carte d'Indentité Nationale (CIN)</ion-label>
                    <ion-text>{{ request.requesterInformationNote.nationalIdCard }}</ion-text>
                  </ion-item>
        
                  <ion-item>
                    <ion-label position="stacked">Profession</ion-label>
                    <ion-text>{{ request.requesterInformationNote.profession }}</ion-text>
                  </ion-item>

                  <ion-item-group>
                    <ion-item-divider color="primary">
                      <ion-label>Coordonnées</ion-label>
                    </ion-item-divider>
                    <ion-item>
                      <ion-label position="stacked">Email</ion-label>
                      <ion-text>{{ request.requesterInformationNote.email }}</ion-text>
                    </ion-item>
                    
                    <ion-item>
                      <ion-label position="stacked">Numéro de téléphone</ion-label>
                      <ion-text>{{ request.requesterInformationNote.phoneNumber }}</ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-label position="stacked">Adresse</ion-label>
                      <ion-text>{{ request.requesterInformationNote.address }}</ion-text>
                    </ion-item>
                  </ion-item-group>
                </ion-list> -->
            <!-- </ion-card> --> 
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMoreNoteRequests($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement de plus de demandes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
