<ion-header>
  <ion-toolbar>
    <ion-title>Liste des demandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-segment #segment value="p">
          <ion-segment-button value="p">
            <ion-icon name="alert-circle-sharp"></ion-icon>
            En attente
          </ion-segment-button>
          <ion-segment-button value="v">
            Valide
            <ion-icon name="shield-checkmark-sharp"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="r">
            Rejetée
            <ion-icon name="close-circle-sharp"></ion-icon>
          </ion-segment-button>
        </ion-segment>


      
        <!-- Liste des demandes en cours de traitement -->
        <ion-list>

          <ng-container *ngFor="let request of requestInformationNotes">

            <ion-card *ngIf="request.state == segment.value" 
              [routerLink]="['verification', request.requestInformationNote]" [queryParams]="{state: request.state}"
              color="primary">
              <ion-card-content >
                <ion-item color="primary">
                  <ion-label>Numéro de la demande</ion-label>
                  <ion-text>{{ request.requestInformationNote }}</ion-text>
                </ion-item>
    
                <ion-item color="primary">
                  <ion-label>Date d'envoi</ion-label>
                  <ion-text>{{ request.verification_date }}</ion-text>
                </ion-item>

                <ion-item color="primary">
                  <ion-label>Vérifié par </ion-label>
                  <ion-text>
                    {{ request.agencyStaff != null ? request.agencyStaff.firstName + " " + request.agencyStaff.lastName : "Personne" }}
                  </ion-text>
                </ion-item>

                <ion-item *ngIf="request.state == 'r'" color="primary">
                  <ion-label>Message de rejet</ion-label>
                  <ion-text>{{ request.rejection_message != null ? request.rejection_message : "Demande non encore traitée"  }}</ion-text>
                </ion-item>

              </ion-card-content>
            </ion-card>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMoreNoteRequests($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement de plus de demandes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
