<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="profile"></ion-menu-button>
    </ion-buttons>
    <ion-title>Agence Urbaine de Settat AUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <form #publicationForm="ngForm" (ngSubmit)="publish(publicationForm)">
          
          <ion-card>
            
            <ion-card-header>
              <ion-card-title>
                
                <ion-input 
                  type="text" 
                  name="title"
                  ngModel
                  maxlength="50"
                  required
                  placeholder="Ajouter votre titre de publication">
                </ion-input>
              </ion-card-title> 
              <ion-card-subtitle>Publié par <a (click)="openSideMenu()">{{ " " + this.dataManager.data }}</a></ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              
              <ion-item>
                <ion-textarea 
                  name="text" 
                  ngModel
                  placeholder="Ajouter un texte à votre publication"
                  required
                  autoGrow>
                </ion-textarea>
                
              </ion-item>
              <ion-list lines="none" *ngIf="selectedFiles.length" >
                <ion-item lines="none" button *ngFor="let file of selectedFiles; index as file_index">
                  <ion-avatar slot="start">
                    <img src="../../../../assets/pdf.png" />
                  </ion-avatar>
                  <ion-label>{{ getFileName(file.name) }}</ion-label>
                  <ion-button fill="outline" color="danger"(click)="deleteSelectedFile(file_index)">
                    Supprimer
                    <ion-icon name="trash-sharp"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>

              <ion-item lines="none">
                <ion-icon (click)="filePicker.click()" button slot="end" size="large" name="attach-outline">
                </ion-icon>
              </ion-item>

              <input #filePicker
                type="file" (change)="onFileSelected($event)"
                name="file"
                ngModel
                accept="application/pdf" />

              <ion-button 
                [disabled]="!publicationForm.valid" 
                type="submit" expand="full"
                >Publier</ion-button>
              
              
            </ion-card-content>
          </ion-card>
        </form>
        
        <ion-list>
          <ion-card *ngFor="let publication of publications">

            <ion-card-header>
              <ion-card-title>{{ publication.title }}</ion-card-title>
              <ion-card-subtitle>Publié par <a>{{ publication.agencyStaff.firstName + " " + publication.agencyStaff.lastName }} </a></ion-card-subtitle>
              <ion-card-subtitle>{{ "le " + publication.date.substring(0, 10) }} </ion-card-subtitle>

              <!-- <ion-item-divider color="primary">
                <ion-label>Description de publication</ion-label>
              </ion-item-divider> -->
              <ion-item>
                <ion-text>
                  {{ publication.description }}
                </ion-text>
              </ion-item>
              
              <ion-list lines="none">
                <ion-item-divider color="primary">
                  <ion-label>{{ publication.files.length }} documents à télécharger</ion-label>
                </ion-item-divider>
                <!-- <ion-item-divider color="primary" *ngIf="publication.files.length">
                  <ion-label>Listes des fichiers attachés</ion-label>
                </ion-item-divider> -->
                <ion-item button *ngFor="let file of publication.files" >
                  <ion-avatar slot="start">
                    <img src="../../../../assets/pdf.png" />
                  </ion-avatar>
                  <ion-label>{{ file.file }}</ion-label>
                  <ion-button fill="outline" (click)="downloadFile(file.id, file.file)">
                    Télécharger
                    <ion-icon name="folder-open-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>

            </ion-card-header>
      
            <ion-card-content>
              
              <ion-item-divider color="primary">
                <ion-label>{{ publication.comments.length + " " + "commentaires" }}</ion-label>
              </ion-item-divider>

              <ion-list>
                <ion-item *ngFor="let comment of publication.comments">
                  <ion-label position="stacked">{{ "Ajouté le " + comment.date.substring(0, 10) }}</ion-label>
                  <a>{{ comment.agencyStaff.firstName + " " + comment.agencyStaff.lastName }}</a>
                  <ion-text>{{ comment.message }}</ion-text>
                </ion-item>
                
                <form #commentForm="ngForm">
                  <ion-item>
                    <ion-textarea #commentText (keyup)="comment($event, commentForm, publication.id)"
                      type="text" 
                      name="message"
                      ngModel
                      required
                      pattern="[a-zA-Z][a-zA-Z0-9\n]*"
                      rows=1  
                      autoGrow                    
                      maxlength="300"
                      placeholder="Votre commentaire...">
                    </ion-textarea>
                  </ion-item>
                </form>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  


  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Chargement de plus de publications ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
