<ion-split-pane contentId="second-content"  when="false">
  <ion-menu contentId="second-content" menuId="action">
    <ion-header>
      <ion-toolbar>
        <ion-title>ARCGIS API</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button>
          <ion-icon name="print-sharp"></ion-icon>
          <ion-label>Imprimer</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  
  </ion-menu>

  <ion-router-outlet id="second-content"></ion-router-outlet>

</ion-split-pane>



