<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="side"></ion-menu-button>
    </ion-buttons>
    <ion-title>Agence Urbaine de Settat AUS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-slides #slides pager="true">

          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-title>slide1</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>izejzieio</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Slide2</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>izejzieio</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Slide3</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>izejzieio</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Slide4</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>izejzieio</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              zjezjeizejgoize
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
        
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              zjezjeizejgoize
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card3</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card4</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
