@media screen and (min-width: 400px)
{
    
    ion-grid {
        width: 50% !important;
    }
}

ion-content {
    ion-grid {
        height: 100%;
        ion-row {
            height: 33% !important;
            ion-col {
                height: 100% !important;
                ion-card {
                    background: #fff url('../../../../assets/icon/agence_urbaine.jfif') no-repeat center cover;
                    background-color: transparent!important;
                    text-align: center !important;
                    color: white !important;
                    width: 100% !important;
                    height: 100% !important;
                    margin: 0 !important;
                    border: 2px white solid !important;
                    
                }
                ion-slides {
                    text-align: center !important;
                    width: 100% !important;
                    height: 100% !important;
                    margin: 0 !important    
                }
            }
        }
    }
}

#guide {
    background-image: url('../../../../assets/icon/guide.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#E_Note {
    background-image: url('../../../../assets/icon/dem_rejete.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

img {
    height: 100%;
    width: 100%;
}