
/*
@media screen and (min-width: 400px)
{
    ion-tab-bar {
        --background: var(--ion-color-success-shade) !important;
        margin: 0% 20% 0% 20% !important;
        margin-bottom: 0% !important;
        width: 50% !important;
    }
}
*/